{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../media/favicon.png" type="">

  <title>{% block title %} ArtyProd {% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/bootstrap.css'%}">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/font-awesome.min.css'%}">
      <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/style.css'%}">
      <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'css/responsive.css'%}">
    {% block styles %} {% endblock %}

</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'media/hero-bg.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'Portfolio' %}">
            <span>
              ArtyProd
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Portfolio' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Projects' %}">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Services' %}">Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'Personnel' %}">Team<span class="sr-only">(current)</span></a>
              </li>
              {%if user.is_authenticated%}
              <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'myprojects' %}">Your Projects</a></li>
                        <li><a class="dropdown-item" href="{% url 'Contact' %}">Contact</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">logout</a></li>
                    </ul>
                </div>
              </li>
            </ul>
            <div class="user_option">
              <a href="{% url 'Project' %}" class="order_online">
                Create Project
              </a>
            </div>
              {% else %}
            </ul>
              <div class="user_option">
              <a href="{% url 'Login' %}" class="order_online">
                Login
              </a>
            </div>
                {% endif %} 
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static "media/about.png" %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are ArtyProd
              </h2>
            </div>
            <p>
              Introducing a new website that is designed to help people create their desired project. 
              Whether you are an entrepreneur, artist, student, or just someone with a passion project, 
              this website provides a platform to help you bring your ideas to life. With a user-friendly interface, 
              you can easily navigate through the website and access a wide range of resources and tools to help you plan, 
              design, and execute your project. From creating a project timeline to finding collaborators and funding, 
              this website has everything you need to make your project a success. So, if you have a project idea in mind 
              and want to bring it to fruition, look no further than this website to help you get started.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

<!-- offer section -->

<section class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Our Team
        </h2>
      </div>
      <div class="row">
        {% for p in personnels %}
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="{{MEDIA_URL}}{{ p.Photo_File }}" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                {{ p.name }}
              </h5>
              <h6>
                Specialty: 
                {% for service in p.service.all %}
                  {{ service }},
                {% endfor %}
              </h6>
              <h6>
                Years Of Experience: {{ p.experience }}
              </h6>
              <div class="user_option">
                <a href="{{ p.linkedln_link }}">
                  Visit Linkedin
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- end offer section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="{% url 'Contact' %}">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Go to our contact page
                </span>
              </a>
                <span>
                  Or simply send us an email at
                </span>
              <a>
                <span>
                  ArtyProd@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              ArtyProd
            </a>
            <p>
              The best website to make your dream project come true
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Our Working Time
          </h4>
          <p>
            24/7
          </p>
          <p>
            7 days a week
          </p>
          <p>
            365 days a year
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
  <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

</body>

</html>